<div class="header">
    <div class="left block">
        <div class="location clickable">Minsk</div>
    </div>
    <div class="middle block">
        @if (!showInput()) {
            <div class="search-bar" >
                <input class="clickable" type="text" [formControl]="searchControl" placeholder="Поиск лекарств">
              <button mat-raised-button (click)="onSearchByDescription()">Поиск</button>
              <button (click)="startSpeechRecognition()">start speech</button>
            </div>
        }
    </div>
    <div class="right block">
        <div class="auth">
            <span class="clickable" [routerLink]="['auth']">Войти</span>
        </div>
    </div>
</div>
