.card {
    width: 300px;
    height: auto;

    border-radius: 15px;
    padding: 30px;
    box-shadow: 0px 0px 8px 3px rgba(34, 60, 80, 0.2);
}

.title {
    font-size: 20px;
}

.info-value {
    color: #b3b3b3;
}

.info {
    color: black;
}